@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    box-sizing: border-box;
}

body {
    font-family: Roboto;
    margin: 0;
    padding: 0;
}

#header-negro {
    background-color: #222222;
    color: #F3F3F3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.625rem;
}

#header-negro > p {
    margin: 0.25rem 0 0.25rem 5.625rem;
}

#header-negro > ul {
    display: flex;
    list-style: none;
    margin: 0 3.125rem 0 0;
}

#header-negro > ul > li {
    padding: 0 10px;
}

#header {
    background-color: #F0A83E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1.25rem 2.5rem;
}

.logo {
    width: 10.375rem;
    height: 1.438rem;
}

#header > ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
}

#header > ul > li {
    font-size: 0.813rem;
    padding: 0 0.625rem;
    color: white;
}

#header > ul > li::before {
    content: url("img/HuellaBlanca.png");
}

.menu {
    display: none;
}

.banner {
    background-image: url("img/Banner.png");
    width: 100%;
    min-height: 590px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: end;
    margin-bottom: 1.563rem;
}

.div-banner {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-right: 0.75rem;
}

.p1-banner {
    background-color: white;
    border-radius: 5px;
    color: #3C2313;
    font-size: 1.875rem;
    padding: 0.625rem;
    margin-bottom: 0;
    margin-top: 0;
}

.p2-banner {
    color: #3C2313;
}

.btn-banner {
    background-color: #F0A83E;
    color: white;
    border: none;
    padding: 0.938rem 1.438rem;
    border-radius: 5px;
}

.paw {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3.063rem;
}

.paw-img {
    width: 4.188rem;
    height: 4.438rem;
}

.paw > h1 {
    color: #3C2313;
    font-size: 2.5rem;
    margin: 0;
}

.h1-2 {
    display: none;
}

.paw > pre {
    font-family: Roboto;
    font-size: 0.938rem;
    color: #666666;
}

.productos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4.875rem;
}

.tarjeta {
    background-color: #FBFAF6;
    text-align: center;
    width: 16.563rem;
    margin: 0 0.688rem;
    padding-bottom: 0.469rem;
}

.tarjeta img {
    width: 16.563rem;
    height: 16.813rem;
}

.name {
    color: #3C2313;
    font-size: 15px;
    font-weight: 500;
    margin: 0 auto;
}

.price {
    margin: 0;
    font-size: 15px;
    color: #F0A83E;
    margin: 0 auto;
    font-weight: 500;
}

.info {
    text-align: center;
    margin-bottom: 4.688rem;
}

.info > h2 {
    color: #3C2313;
    font-size: 1.563rem;
}

.info > form > input {
    color: white;
    background-color: #3C2313;
    border: none;
    display: block;
    border-radius: 15px;
    margin: 0 auto 0.625rem auto;
    padding: 0.938rem 0 0.938rem 0.875rem;
    width: 21.25rem;
}

input::placeholder {
    color: white;
    font-size: 0.563rem;
}

.botones {
    margin-top: 1.875rem;
}

.btn {
    color: white;
    border: none;
    border-radius: 15px;
    width: 6.875rem;
    padding: 0.5rem;
    margin: 30px 0.188rem 0 0.188rem;
}

.reset {
    background-color: #8A8787;
}

.enviar {
    background-color: #F0A83E;
}

.f-naranja {
    background-color: #F0A83E;
    display: flex;
    justify-content: space-between;
    padding: 0 1.438rem;
}

.div-f-naranja-1 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
    font-size: 1.25rem;
}

.div-f-naranja-1 > img {
    margin-right: 0.625rem;
}

.div-f-naranja-2 {
    display: flex;
    align-items: center;
}

.div-f-naranja-2 > input {
    width: 16.938rem;
    height: 2.5rem;
    border: none;
    border-radius: 15px;
    padding: 0 0.5rem;
}

.div-f-naranja-2 > button {
    border: none;
    border-radius: 15px;
    font-size: 0.563rem;
    color: white;
    background-color: #3C2313;
    font-weight: bold;
    width: 4.375rem;
    height: 2.125rem;
    margin-left: 0.313rem;
}

.div-f-naranja-2 > input::placeholder {
    font-size: 0.563rem;
    color: #A0A0A0;
}

.f-marron {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3C2313;
    padding: 1.25rem 4.625rem;
}

.icons article {
    display: flex;
    align-items: center;
}

.icons article:first-child, .icons article:nth-child(2) {
    margin-bottom: 1.875rem;
}

.icons article > div {
    margin-left: 1.563rem;
}

.icons article > div > h3 {
    color: white;
    font-size: 1.25rem;
    margin-bottom: 0;
    margin-top: 0;
}

.icons article > div > p {
    font-weight: bold;
    font-size: 0.625rem;
    color: #8A8787;
    margin-bottom: 0;
    margin-top: 0;
}

footer > p {
    color: white;
    margin: 0;
    font-weight: bold;
    font-size: 0.625rem;
    background-color: #222222;
    text-align: center;
    padding: 0.25rem 0;
}

@media screen and (max-width: 576px) {
    #header-negro {
        display: none;
    }

    #header > ul {
        display: none;
    }

    .menu {
        display: inline;
    }

    .h1-1 {
        display: none;
    }
    
    .h1-2 {
        display: inline;
        text-align: center;
    }

    .productos {
        display: block;
        margin-bottom: 40px;
        text-align: center;
    }

    .tarjeta {
        margin: 0 auto 1.563rem auto;
    }

    .info {
        margin-bottom: 3rem;
    }

    .info > h2 {
        font-size: 40px;
        margin-bottom: 1rem;
    }

    .info > form > input {
        width: 18.625rem;
        padding: 0.906rem 0.36rem;
    }

    input::placeholder {
        color: #AB9C9C;
    }

    .btn {
        border-radius: 25px;
        width: 48%;
        padding: 0.813rem 0;
        margin: 0 0.188rem;
    }

    .f-naranja {
        flex-direction: column;
        padding: 0 0 0.625rem 0;
    }

    .div-f-naranja-1 > img {
        margin-right: 1.5rem;
        margin-left: 0.313rem;
    }

    .div-f-naranja-2 {
        justify-content: center;
        margin-left: 0.938rem;
        margin-right: 1.813rem;
    }

    .div-f-naranja-2 > input {
        margin-right: 0.563rem;
    }

    .div-f-naranja-2 > button {
        font-size: 0.938rem;
        height: 2.188rem;
        width: 6.25rem;
        margin-left: 0;
    }

    .f-marron {
        flex-direction: column-reverse;
        padding-left: 0;
        padding-right: 0;
    }

    .icons {
        margin-left: 20px;
    }

    .icons article > div > h3 {
        font-size: 1.5rem;
    }

    .icons article > div > p {
        font-size: 0.813rem;
    }
}

@media screen and (min-width: 1290px) {

    html {
        font-size: 19px;
    }

}